.App {
  display: grid;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "n c c c c c c c c c c c"
    "n c c c c c c c c c c c"
    "n c c c c c c c c c c c"
    "n c c c c c c c c c c c"
    "n c c c c c c c c c c c"
    "n c c c c c c c c c c c"
    "n c c c c c c c c c c c"
    "n c c c c c c c c c c c"
    "n c c c c c c c c c c c"
    "n c c c c c c c c c c c"
    "n c c c c c c c c c c c";
  height: 100vh;
  width: 100%;
}

.hhh {
  grid-area: c;
  background-color: #E0E1DD;
  opacity: .8;
  text-align: center;
}
